
/* 歌词移除
----------------------------------------------------------------------------*/
.lrc-out  	{ animation: lrc-out 0.5s; -webkit-animation: lrc-out 0.5s; -moz-animation: lrc-out 0.5s; -o-animation: lrc-out 0.5s; 
animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; }
@keyframes lrc-out {
	0%		{ top: 0; opacity: 1; }
	100% 	{ top: -3vh; opacity: 0; }
}
@-webkit-keyframes lrc-out {
	0%		{ top: 0; opacity: 1; }
	100% 	{ top: -3vh; opacity: 0; }
}
@-moz-keyframes lrc-out {
	0%		{ top: 0; opacity: 1; }
	100% 	{ top: -3vh; opacity: 0; }
}
@-o-keyframes lrc-out {
	0%		{ top: 0; opacity: 1; }
	100% 	{ top: -3vh; opacity: 0; }
}
/* 歌词进入
----------------------------------------------------------------------------*/
.lrc-in  	{ animation: lrc-in 0.5s; -webkit-animation: lrc-in 0.5s; -moz-animation: lrc-in 0.5s; -o-animation: lrc-in 0.5s; 
animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; }
@keyframes lrc-in {
	0%		{ top: 3vh; opacity: 0; }
	100% 	{ top: 0vh; opacity: 1; }
}
@-webkit-keyframes lrc-in {
	0%		{ top: 3vh; opacity: 0; }
	100% 	{ top: 0vh; opacity: 1; }
}
@-moz-keyframes lrc-in {
	0%		{ top: 3vh; opacity: 0; }
	100% 	{ top: 0vh; opacity: 1; }
}
@-o-keyframes lrc-in {
	0%		{ top: 3vh; opacity: 0; }
	100% 	{ top: 0vh; opacity: 1; }
}

/* 鼠标移入封面
-------------------------------------------------------------------------*/
.coverHover1 { animation: coverHover1 0.5s; -webkit-animation: coverHover1 0.5s; -moz-animation: coverHover1 0.5s; -o-animation: coverHover1 0.5s; 
animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; }
@keyframes coverHover1 {
	0% 		{ width: 15%; height: 15%; opacity: 1; }
	100% 	{ width: 5%; height: 5%; opacity: 0; }
}
@-moz-keyframes coverHover1 {
	0% 		{ width: 15%; height: 15%; opacity: 1; }
	100% 	{ width: 5%; height: 5%; opacity: 0; }
}
@-webkit-keyframes coverHover1 {
	0% 		{ width: 15%; height: 15%; opacity: 1; }
	100% 	{ width: 5%; height: 5%; opacity: 0; }
}
@-o-keyframes coverHover1 {
	0% 		{ width: 15%; height: 15%; opacity: 1; }
	100% 	{ width: 5%; height: 5%; opacity: 0; }
}

/* 鼠标移出封面
-------------------------------------------------------------------------*/
.coverHover2 { animation: coverHover2 0.5s; -webkit-animation: coverHover2 0.5s; -moz-animation: coverHover2 0.5s; -o-animation: coverHover2 0.5s; 
animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; }
@keyframes coverHover2 {
	0% 		{ width: 5%; height: 5%; opacity: 0; }
	100% 	{ width: 15%; height: 15%; opacity: 1; }
}
@-moz-keyframes coverHover2 {
	0% 		{ width: 5%; height: 5%; opacity: 0; }
	100% 	{ width: 15%; height: 15%; opacity: 1; }
}
@-webkit-keyframes coverHover2 {
	0% 		{ width: 5%; height: 5%; opacity: 0; }
	100% 	{ width: 15%; height: 15%; opacity: 1; }
}
@-o-keyframes coverHover2 {
	0% 		{ width: 5%; height: 5%; opacity: 0; }
	100% 	{ width: 15%; height: 15%; opacity: 1; }
}

/* 进度条小圆点缩放
---------------------------------------------------------------------------*/
.circleZoom  { animation: circleZoom 2s linear 0s infinite; -webkit-animation: circleZoom 2s linear 0s infinite; -moz-animation: circleZoom 2s linear 0s infinite; -o-animation: circleZoom 2s linear 0s infinite; }
@keyframes circleZoom {
	0%		{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
	50% 	{ transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); }
	100% 	{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
}
@-moz-keyframes circleZoom {
	0%		{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
	50% 	{ transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); }
	100% 	{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
}
@-webkit-keyframes circleZoom {
	0%		{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
	50% 	{ transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); }
	100% 	{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
}
@-o-keyframes circleZoom {
	0%		{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
	50% 	{ transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); }
	100% 	{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); }
}

/* 进度条小圆点旋转
---------------------------------------------------------------------------*/
.circleRotate { animation: circleRotate 2s linear 0s infinite; -webkit-animation: circleRotate 2s linear 0s infinite; -moz-animation: circleRotate 2s linear 0s infinite; -o-animation: circleRotate 2s linear 0s infinite; }
@keyframes circleRotate {
	0%		{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); }
@-moz-keyframes circleRotate {
	0%		{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); }
}
@-webkit-keyframes circleRotate {
	0%		{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); }
}
@-o-keyframes circleRotate {
	0%		{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); }
}